In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Ecommerce Customers.csv')

In [3]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [4]:
# Drop features that do not relate to yearly amount spent
df = df.drop(['Email', 'Address', 'Avatar'], axis=1)

In [5]:
df.head()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,12.655651,39.577668,4.082621,587.951054
1,31.926272,11.109461,37.268959,2.664034,392.204933
2,33.000915,11.330278,37.110597,4.104543,487.547505
3,34.305557,13.717514,36.721283,3.120179,581.852344
4,33.330673,12.795189,37.536653,4.446308,599.406092

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
Avg. Session Length     500 non-null float64
Time on App             500 non-null float64
Time on Website         500 non-null float64
Length of Membership    500 non-null float64
Yearly Amount Spent     500 non-null float64
dtypes: float64(5)
memory usage: 19.6 KB

In [7]:
# convert the dataframe to array to be easier to use in the forloo
df_x = df.values
# exclude the dependent variable
df_x = df_x[:,0:-1]
df_y = df['Yearly Amount Spent'].values

In [43]:
df_x[0:10]

array([[ 34.49726773,  12.65565115,  39.57766802,   4.08262063],
       [ 31.92627203,  11.10946073,  37.26895887,   2.66403418],
       [ 33.00091476,  11.33027806,  37.11059744,   4.1045432 ],
       [ 34.30555663,  13.71751367,  36.72128268,   3.12017878],
       [ 33.33067252,  12.79518855,  37.5366533 ,   4.44630832],
       [ 33.87103788,  12.02692534,  34.47687763,   5.4935072 ],
       [ 32.0215955 ,  11.36634831,  36.68377615,   4.68501725],
       [ 32.73914294,  12.35195897,  37.37335886,   4.43427343],
       [ 33.9877729 ,  13.38623528,  37.53449734,   3.27343358],
       [ 31.93654862,  11.81412829,  37.14516822,   3.20280607]])

In [9]:
df_y[0:10]

array([ 587.95105397,  392.20493344,  487.54750487,  581.85234404,
        599.40609205,  637.10244792,  521.57217476,  549.90414611,
        570.20040896,  427.1993849 ])

y = b0 + b1*x1....bm*xn

let t = b0, b1, b2, ... bm

j(t)= 0.5*N + sum(Ht( x^(i)j ) - y^(i) ) where sum is from i to N, and j = 0 to m

in order to minimize t, gradient descent is used

In [72]:
init_m = 0
init_b1 = 0
learning_rate = 0.001
num_iteration = 500


def minimize_m_b(df_x, df_y, m, b, learning_rate):
    minimize_m = m
    minimize_b =  b
    sum_of_m_b =0.0
    N = len(df_x)
    
    for i in range(len(df_x)):        
        for x in range(len(df_x[0])): # len = 4 always
            sum_of_m_b += b[x] * df_x[i][x] # sum up b0*x0 + b1*x1 +...xn*bn
            
        minimize_m += (1/N)*((m + sum_of_m_b) - df_y[i]) # where x0=1
        
        for j in range(len(df_x[0])): 
            # x[] is the result after each partial derivative w.r.t b
            minimize_b[j] += (1/N)*( (m + sum_of_m_b) - df_y[i]) * x[j] 
        
    minimized_m = m - (learning_rate * minimize_m)
    for x in range( len(df_x[0])):
        minimized_b[x] = b[x] - learning_rate * minimize_b[x]
    return [minimized_m, minimized_b]


def run_minimize_m_b(df_x, df_y, init_m, init_b, learning_rate, num_iteration):
    m = init_m
    b = init_b
    for i in range(num_iteration):
        m, b = minimize_m_b(df_x, df_y, m, b, learning_rate)
    return [m, b]

In [74]:
# set initial bs to 0s
init_m = 0 # the intercept 
init_b = np.array([0 for x in range(len(df_x[0]))]) # coefficients are all initially 0.

m, b = run_minimize_m_b(df_x, df_y, init_m, init_b, learning_rate, num_iteration)
print ("intercept: ",b0, "Slope: ",b)

TypeError: 'int' object is not subscriptable